<div class="dog-detail">
  <div class="container-fluid">
    <back-button></back-button>
    <h1>{{ dog.pedigreeName }}</h1>
  </div>


  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngIf="alert" class="alert-float">
    {{ alert.message }}
  </ngb-alert>

  <div class="container-fluid">
    <div class="row">

      <div class="data col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Pedigree</span>
          </div>
          <input [(ngModel)]="dog.pedigree" type="text" class="form-control" placeholder="Pedigree" aria-label="Pedigree" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Pedigree Name</span>
          </div>
          <input [(ngModel)]="dog.pedigreeName" type="text" class="form-control" placeholder="Pedigree Name" aria-label="Pedigree Name" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Name</span>
          </div>
          <input [(ngModel)]="dog.name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Owner</span>
          </div>
          <input [(ngModel)]="dog.owner" [ngbTypeahead]="searchOwner" [resultFormatter]="parseOwnerSearch" [inputFormatter]="parseOwnerSearch" type="text" class="form-control" placeholder="Owner" aria-label="Owner" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Breed</span>
          </div>
          <select [(ngModel)]="dog.breed" class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option *ngFor="let breed of breeds" value="{{breed}}">{{breed}}</option>
        </select>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Birthdate</span>
          </div>

          <input class="form-control" placeholder="yyyy-mm-dd" name="d2" #c2="ngModel" [(ngModel)]="dog.birthdate" ngbDatepicker #d2="ngbDatepicker">

          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
              <i class="far fa-calendar-alt"></i>
            </button>
          </div>
        </div>
        <input type="hidden" name="_id" id="_id" value="{{ dog._id }}" />
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: right">
        <button type="button" class="btn btn-primary" *ngIf="dog._id" (click)="update()" [disabled]="buttonDisabled">Update</button>

        <button type="button" class="btn btn-success" *ngIf="!dog._id" (click)="save()" [disabled]="buttonDisabled">Save</button>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>
