body {
    margin-bottom:50px;
    overflow-x: hidden;
}

footer {
    border-top: 1px solid #DDD;
    position: fixed;
    height: 3em;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    background: #EEE;
    padding-top: 0.5em;
    z-index: 10000;
}

.centered {
  margin: 8em;
  text-align: center;
}

.top-space {
  margin-top: 2em;
}

table > tbody > tr {
  cursor: pointer;
}

.dog-detail .data {
  margin: 0 2em;
}

.dog-detail .input-group-text {
  width: 8em;
}

#alertcontainer {
  overflow: hidden;
  clear:both;
}

.alert-float {
  position: absolute;
  top: 4em;
  right: 1em;
  overflow: hidden;
}

.cal-button {
  background-color: #E9ECEF;
}
